.App-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
    width: 1900px;
    background-color:   white;
}
.login{
    height: 300px;
    width: 600px;
    background-color:   #adc6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100px;
    width: 500px;
    font-size: 20px;
    font-weight: 600;
}
.login-username{

    height: 30px;
    width: 300px;
}
.login-password{

    height: 30px;
    width: 300px;
}
.login-buttonbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;

}
.login-button{
    margin: 10px
}
.error{
    margin-top: 20px;
    color: red;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top:650px;
}