.App-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
    width: 1900px;
    background-color: #f6f6f6;
}
.login{
    height: 300px;
    width: 600px;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100px;
    width: 500px;
}
.login-username{
    margin-left: 35px;
    height: 30px;
    width: 300px;
}
.login-password{
    margin-left: 5px;
    height: 30px;
    width: 300px;
}
.login-buttonbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;

}
.login-button{
    margin: 10px
}