
.app-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
    width: 1900px;
    background-color: #f6f6f6;
}
.register{
    height: 300px;
    width: 600px;
    background-color:   #3a7cff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    height: 50px;
    width: 400px;
    margin-top: -20px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}
.register-form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100px;
    width: 500px;
}
.register-username{
    height: 30px;
    width: 300px;
}
.register-password{
    height: 30px;
    width: 300px;
}
.register-buttonbox{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:   space-between;
    height: 50px;
    width: 500px;

}
.register-button{
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}
.return-button{
    height: 40px;
    width: 100px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    color: red;
}
.error{
    color: red;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top:575px;
}